* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
.floatLeft {
  float: left;
}
.floatRight {
  float: right;
}
.container {
  width: 1000px;
  margin: 0 auto;
}
header {
  background-color: skyblue;
  height: 40px;
  line-height: 40px;
}
header .container .floatLeft span {
  font-weight: bold;
  font-size: 20px;
}
header .container .floatRight span {
  font-weight: bold;
  font-size: 20px;
}
nav {
  margin-top: 15px;
  padding: 10px 0;
  background-color: #f0f0f0;
}
nav .container ul {
  width: 100%;
  display: flex;
}
nav .container ul li {
  position: relative;
  padding-left: 30px;
  margin-right: 10px;
}
nav .container ul li i {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 5px;
  background-size: cover;
}
nav .container ul li .icon1 {
  background-image: url('../images/icon/全部_all-application.svg');
}
nav .container ul li .icon2 {
  background-image: url('../images/icon/更多1_more-one.svg');
}
nav .container ul li .icon3 {
  background-image: url('../images/icon/相机_camera.svg');
}
nav .container ul li .icon4 {
  background-image: url('../images/icon/配置_config.svg');
}
nav .container ul li span {
  color: #000;
}
nav .container ul li:hover .icon1 {
  background-image: url('../images/icon/全部_all-application\ \(2\).svg');
}
nav .container ul li:hover .icon2 {
  background-image: url('../images/icon/更多1_more-one\ \(2\).svg');
}
nav .container ul li:hover .icon3 {
  background-image: url('../images/icon/相机_camera\ \(2\).svg');
}
nav .container ul li:hover .icon4 {
  background-image: url('../images/icon/配置_config\ \(2\).svg');
}
nav .container ul li:hover span {
  color: #4a90e2;
}
.imgBox {
  width: 100%;
  margin-top: 20px;
}
.imgBox .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgBox .container .swiper-wrapper {
  width: 900px;
  height: 600px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}
.imgBox .container .swiper-wrapper .swiper-items {
  display: flex;
  flex-direction: row;
  height: 600px;
}
.imgBox .container .swiper-wrapper .swiper-items img {
  width: 900px;
  height: 600px;
}
.imgBox .container .swiper-wrapper .swiper-button {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 120px;
  background-color: #ccc;
  line-height: 120px;
  text-align: center;
  user-select: none;
}
.imgBox .container .swiper-wrapper .swiper-button.swiper-button-left {
  left: 15%;
}
.imgBox .container .swiper-wrapper .swiper-button.swiper-button-right {
  right: 15%;
}
.imgBox .container .swiper-wrapper .swiper-nav {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
}
.imgBox .container .swiper-wrapper .swiper-nav li {
  width: 80px;
  height: 20px;
  background-color: #ccc;
  margin-right: 10px;
  cursor: pointer;
}
.imgBox .container .swiper-wrapper .swiper-nav li.active {
  background-color: #ff0000;
}
