* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
li {
  list-style: none;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.box {
  width: 640px;
  margin: 0 auto;
  overflow: hidden;
}
.box h2 {
  height: 60px;
  line-height: 60px;
  background: #cccccc;
  font-size: 18px;
}
.box h3 {
  height: 40px;
  line-height: 40px;
  color: white;
  background: black;
  font-size: 16px;
  font-weight: normal;
}
.box .exam_box .item .question_box {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  background: #f0f0f0;
}
.box .exam_box .item .answer_box {
  height: 59px;
  line-height: 30px;
}
.box .exam_box .item .answer_box ul {
  display: flex;
  padding-left: 20px;
  margin-top: 8px;
}
.box .exam_box .item .answer_box ul li {
  border: 1px solid transparent;
  padding: 0px 10px;
  border-radius: 20px;
  cursor: pointer;
}
.box .exam_box .item .answer_box ul li.active {
  border-color: green;
  color: green;
}
.box .exam_box .item .answer_box ul li:not(:first-child) {
  margin-left: 33px;
}
.box button {
  width: 200px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}
.box .exam_result {
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 30px;
}
.box .exam_result .exam_score {
  color: red;
}
