* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: skyblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  width: 100dvw;
}
body h3 {
  cursor: pointer;
}
body h3:hover {
  color: red;
}
