.main {
  width: 100dvw;
  height: 100dvh;
}
.main .mainBoxVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 996;
  display: none;
}
.main .mainBoxVideo video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 984px;
  height: auto;
  outline: none;
  z-index: 998;
}
.main .head {
  position: fixed;
  left: 50%;
  top: 0;
  z-index: 9;
  width: 100%;
  color: white;
  box-sizing: border-box;
  transform: translateX(-50%);
}
.main .head .headContent {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 63px;
  font-size: 18px;
  padding-right: 10px;
  float: right;
}
.main .head .headContent .head_login {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 30px;
  margin-right: 30px;
}
.main .head .headContent .head_login .login_btn {
  width: 1.3rem;
  background-size: 100%;
  border: 0;
  outline: none;
  color: white;
  cursor: pointer;
  height: 100%;
  font-size: 16px;
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url('../images/登录按钮.png');
}
.main .head .headContent .bgm {
  width: 23px;
  height: 23px;
  border: 0;
  background: none;
  outline: none;
  cursor: pointer;
}
.main .head .headContent .bgm .music-icon {
  width: 100%;
  padding-top: 100%;
  position: relative;
}
.main .head .headContent .bgm .music-icon .music-icon__col {
  width: 13%;
  height: auto;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  -webkit-animation-name: rocking-data-v-44e324b1;
  animation-name: rocking-data-v-44e324b1;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-timing-function: step-start;
  animation-timing-function: step-start;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.main .head .headContent .bgm .music-icon .music-icon__col.music-icon__col--1 {
  animation-delay: 0.6s;
  left: 0%;
}
.main .head .headContent .bgm .music-icon .music-icon__col.music-icon__col--2 {
  animation-delay: 0s;
  left: 21.75%;
}
.main .head .headContent .bgm .music-icon .music-icon__col.music-icon__col--3 {
  animation-delay: 0.2s;
  left: 43.5%;
}
.main .head .headContent .bgm .music-icon .music-icon__col.music-icon__col--4 {
  animation-delay: 0.6s;
  left: 65.25%;
}
.main .head .headContent .bgm .music-icon .music-icon__col.music-icon__col--5 {
  animation-delay: 0.4s;
  left: 87%;
}
.main .head .headContent .bgm .music-icon .music-icon__col .music-icon__sqr {
  width: 100%;
  padding-top: 100%;
  position: relative;
  box-sizing: border-box;
  left: 0;
  flex: 0 0;
}
.main .head .headContent .bgm .music-icon .music-icon__col .music-icon__sqr.music-icon__sqr--r-1 {
  margin-bottom: 67%;
  background: #c7c9d5;
}
.main .head .headContent .bgm .music-icon .music-icon__col .music-icon__sqr.music-icon__sqr--r-2 {
  margin-bottom: 67%;
  background: #bec1e0;
}
.main .head .headContent .bgm .music-icon .music-icon__col .music-icon__sqr.music-icon__sqr--r-3 {
  margin-bottom: 67%;
  background: #b5b8ea;
}
.main .head .headContent .bgm .music-icon .music-icon__col .music-icon__sqr.music-icon__sqr--r-4 {
  margin-bottom: 67%;
  background: #acb0f5;
}
.main .head .headContent .bgm .music-icon .music-icon__col .music-icon__sqr.music-icon__sqr--r-5 {
  margin-bottom: 0;
  background: #a3a7ff;
}
.main .head .headContent .bgm .music-icon .music-icon__col .music-icon__sqr::after {
  content: "";
  display: block;
  border-top: 1px solid #626060;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.main .head .headContent .main-enter {
  width: 1.7rem;
  display: inline-block;
  margin-left: 40px;
}
.main .head .headContent .main-enter img {
  display: block;
  width: 100%;
  height: auto;
}
.main .wrapper .fad {
  background: white;
  visibility: inherit;
}
.main .wrapper .fad .pv {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-top: 62.5%;
}
.main .wrapper .fad .pv .mainBg {
  display: block;
  position: absolute;
  left: 50%;
  top: -1%;
  width: 100vw;
  height: auto;
  transform: translateX(-50%);
}
.main .wrapper .fad .pv .pv_main {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 90%;
}
.main .wrapper .fad .pv .pv_main .appointment {
  position: absolute;
  top: 84%;
  width: 28.854%;
  padding-top: 10.2%;
  transform: translate(-50%, -50%);
  left: 50%;
  z-index: 2;
}
.main .wrapper .fad .pv .pv_main .appointment .download {
  width: 100%;
  height: 100%;
  background: url('../images/下载框背景.png') no-repeat center;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.main .wrapper .fad .pv .pv_main .appointment .download .download_item {
  display: block;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  left: 8.75%;
  top: 17.84%;
  width: 20%;
  height: 56%;
}
.main .wrapper .fad .pv .pv_main .appointment .download .download_item.qr {
  background-image: url('../images/QRcode.png');
}
.main .wrapper .fad .pv .pv_main .appointment .download .download_item.apple {
  left: 32.75%;
  background-image: url('../images/AppleDownload.png');
  cursor: pointer;
  top: 17.84%;
  width: 28.354%;
  height: 28.75%;
}
.main .wrapper .fad .pv .pv_main .appointment .download .download_item.android {
  top: 53.54%;
  left: 32.75%;
  width: 28.354%;
  height: 28.75%;
  background-image: url('../images/androidDownload.png');
}
.main .wrapper .fad .pv .pv_main .appointment .download .download_item.taptap {
  left: 64%;
  width: 28.354%;
  height: 28.75%;
  background-image: url('../images/taptapDownload.png');
  cursor: pointer;
  top: 17.84%;
}
.main .wrapper .fad .pv .pv_main .appointment .download .download_item.bilibili {
  top: 53.54%;
  left: 64%;
  width: 28.354%;
  height: 28.75%;
  background-image: url('../images/bilibiliDownload.png');
  cursor: pointer;
}
.main .wrapper .fad .pv .pv_main .appointment .logoAge {
  top: 10%;
  right: -20%;
  position: absolute;
  z-index: 9;
  width: 20%;
  font-size: 0;
  cursor: pointer;
}
.main .wrapper .fad .pv .pv_main .appointment .logoAge img {
  width: 100%;
  display: block;
  height: auto;
}
.main .wrapper .fad .pv .pv_main .pv_logo {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 1%;
  width: 18%;
  height: 13%;
  background-image: url('../images/logo.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.main .wrapper .fad .pv .pv_main .pv_play {
  position: absolute;
  z-index: 2;
  right: 31%;
  top: 64%;
  transform: translateX(-50%);
  width: 5.73%;
  padding-top: 5.9%;
  cursor: pointer;
  background-size: 100% 100%;
  background-image: url('../images/play.png');
}
.main .wrapper .fad .pv .pv_main .legal {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 76%;
  width: 23.28%;
  min-height: 8%;
  padding: 0.8% 1.4%;
  line-height: 1.3;
  background: url('../images/公司mask.png') top center / 100% auto no-repeat;
  font-size: 16px;
  color: white;
}
.main .wrapper .fad .pv .pv_main .legal a {
  margin-right: 10px;
  text-decoration: underline;
}
.main .wrapper .fad .activity {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  margin-top: -6.25%;
}
.main .wrapper .fad .activity .activity_bg {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}
.main .wrapper .fad .activity .swiper-container {
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  position: absolute;
  width: 85%;
  height: 100%;
  padding: 14% 0 4%;
  left: 7%;
  top: 43%;
  transform: translateY(-50%);
  overflow: hidden;
}
.main .wrapper .fad .activity .swiper-container .swiper-wrapper {
  transform: translate3d(0, 0, 0);
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
  transform: translateX(180px);
  transition: all 0.5s;
}
.main .wrapper .fad .activity .swiper-container .swiper-wrapper .photo_item {
  position: relative;
  width: 80%;
  height: 100%;
  flex-shrink: 0;
}
.main .wrapper .fad .activity .swiper-container .swiper-pagination {
  bottom: 0;
  left: 0;
  width: 100%;
  position: absolute;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}
.main .wrapper .fad .activity .swiper-container .swiper-pagination .swiper-pagination-bullet {
  width: 4%;
  padding-top: 4%;
  background: url('../images/小点.png') center no-repeat;
  background-size: 40% 40%;
  border-radius: 0;
  margin: 0;
  vertical-align: middle;
  opacity: 0.9;
  cursor: pointer;
  height: 8px;
  display: inline-block;
}
.main .wrapper .fad .activity .swiper-container .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-image: url('../images/大点.png');
  background-size: 60% 60%;
  opacity: 1;
}
.main .wrapper .fad .activity .swiper-container .swiper-button-prev {
  left: 0;
  transform: scaleX(-1);
  width: 52px;
  height: 92px;
  font-size: 0;
  outline: none;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: transparent;
  background-image: url('../images/箭头.png');
  right: auto;
  position: absolute;
  top: 50%;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  background-position: center;
}
.main .wrapper .fad .activity .swiper-container .swiper-button-next {
  right: 0;
  width: 52px;
  height: 92px;
  font-size: 0;
  outline: none;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: transparent;
  background-image: url('../images/箭头.png');
  left: auto;
  position: absolute;
  top: 50%;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  background-position: center;
}
.main .wrapper .fad .feature {
  padding-top: 81.71%;
  background-image: url('../images/pages3部分/bg.jpg');
  overflow: hidden;
  position: relative;
  width: 100%;
  background-size: 100% 100%;
}
.main .wrapper .fad .feature .swiper-container {
  top: 38%;
  position: absolute;
  width: 90%;
  left: 5%;
  transform: translateY(-50%);
  overflow: visible;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  z-index: 1;
}
.main .wrapper .fad .feature .swiper-container .swiper-wrapper {
  transform: translate3d(0, 0, 0);
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  box-sizing: content-box;
  transition-property: transform;
}
.main .wrapper .fad .feature .swiper-container .swiper-wrapper .photo_item {
  position: relative;
  width: 60%;
  padding-top: 37.08%;
  height: 100%;
  flex-shrink: 0;
  transition: all 0.5s;
}
.main .wrapper .fad .feature .swiper-container .swiper-wrapper .photo_item .photo_bg img {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 1;
  left: 0;
  top: 0;
}
.main .wrapper .fad .feature .swiper-container .swiper-pagination {
  top: 106%;
  bottom: auto;
  left: 0;
  width: 100%;
  position: absolute;
  text-align: center;
  transition: 300ms opacity;
  z-index: 10;
}
.main .wrapper .fad .feature .swiper-container .swiper-pagination .swiper-pagination-bullet {
  width: 4%;
  padding-top: 4%;
  background: url('../images/小点.png') center no-repeat;
  background-size: 40% 40%;
  border-radius: 0;
  margin: 0;
  vertical-align: middle;
  opacity: 0.9;
  cursor: pointer;
  height: 8px;
  display: inline-block;
}
.main .wrapper .fad .feature .swiper-container .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-image: url('../images/大点.png');
  background-size: 60% 60%;
  opacity: 1;
}
.main .wrapper .fad .feature .swiper-container .swiper-button-prev {
  width: 52px;
  height: 92px;
  background-image: url('../images/箭头.png');
  left: 0;
  transform: scaleX(-1) translateY(-50%);
  padding-top: 4%;
  font-size: 0;
  outline: none;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: transparent;
  right: auto;
  position: absolute;
  top: 50%;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  background-position: center;
}
.main .wrapper .fad .feature .swiper-container .swiper-button-next {
  width: 52px;
  height: 92px;
  background-image: url('../images/箭头.png');
  right: 0;
  padding-top: 4%;
  font-size: 0;
  outline: none;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: transparent;
  left: auto;
  position: absolute;
  top: 50%;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  background-position: center;
}
.main .wrapper .fad .feature .social {
  position: relative;
  margin-top: -23.72%;
  padding-top: 23.72%;
  width: 100%;
  overflow: hidden;
}
.main .wrapper .fad .feature .social .social_content {
  padding-left: 26%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  background: url('../images/pages3部分/各种渠道QrCode.png') center 32% no-repeat;
  background-size: 52.5% auto;
}
.main .wrapper .fad .feature .social .social_content .social_item {
  width: 14.4%;
  height: 64%;
  margin-right: 4%;
  font-size: 0.18rem;
  position: relative;
}
.main .wrapper .fad .feature .social .social_content .social_item .social_desc {
  position: absolute;
  color: white;
  left: 29%;
  bottom: 2%;
  text-align: left;
}
.main .wrapper .fad .feature .social .social_content .social_item .social_desc span {
  display: block;
  margin-top: 0.08rem;
  color: white;
}
.main .wrapper .fad .feature .social .social_content .social_item .social_desc span.qqspan {
  white-space: nowrap;
  transform: scale(0.9);
  transform-origin: left;
  margin-top: 0;
}
.main .wrapper .fad .feature .social .social_content .social_item .social_desc span.qqspan1 {
  white-space: nowrap;
  transform: scale(0.9);
  transform-origin: left;
  margin-top: 0.72rem;
}
.main .wrapper .footer {
  position: relative;
  width: 100%;
  height: 367px;
  background: url('../../images/footer/bg.png');
  padding: 30px 0 20px;
  background-repeat: no-repeat;
  background-size: cover;
}
.main .wrapper .footer .footerBox {
  margin: 0 auto;
  width: 1280px;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.main .wrapper .footer .footerBox .footer-logo {
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .wrapper .footer .footerBox .footer-logo .content {
  width: 100%;
  height: 88.2px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main .wrapper .footer .footerBox .footer-logo .content img {
  height: 42px;
}
.main .wrapper .footer .footerBox .footer-logo .content span {
  background: #fff;
  width: 1px;
  height: 28px;
  margin-left: 25px;
  margin-right: 25px;
  display: block;
}
.main .wrapper .footer .footerBox .footer-logo .content .game-logo {
  width: 110px;
  height: auto;
}
.main .wrapper .footer .footerBox .footer-info {
  width: calc(100% - 300px);
  height: 100%;
  margin-left: 60px;
  color: #fff;
}
.main .wrapper .footer .footerBox .footer-info .footer-link {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  width: 881.56px;
  height: 52px;
}
.main .wrapper .footer .footerBox .footer-info .footer-link .footer-protocol {
  width: 637.12px;
  height: 24px;
  display: flex;
  flex-direction: row;
}
.main .wrapper .footer .footerBox .footer-info .footer-link .footer-protocol a {
  white-space: nowrap;
  margin: 0 10px;
}
.main .wrapper .footer .footerBox .footer-info .footer-link .footer-protocol a:first-child {
  margin-left: 0;
}
.main .wrapper .footer .footerBox .footer-info .footer-advice span {
  margin: 0 10px;
}
.main .wrapper .footer .footerBox .footer-info .footer-advice span:first-child {
  margin-left: 0;
}
.main .wrapper .footer .footerBox .footer-info .footer-advice .inline-info {
  display: flex;
  flex-direction: row;
}
.main .wrapper .footer .footerBox .footer-info .footer-filing .footer-filing-content span {
  margin: 0 10px;
}
.main .wrapper .footer .footerBox .footer-info .footer-filing .footer-filing-content #zdy-footer-filing-item {
  margin-left: 0;
}
.main .wrapper .footer .footerBox .footer-info .copyright {
  display: flex;
  flex-direction: row;
}
.main .wrapper .footer .footerBox .footer-info .copyright .complaint-phone {
  margin-left: 20px;
}
.main .wrapper .footer .footerBox .footer-info .footer-icon {
  width: 800px;
  display: flex;
  align-items: flex-start;
  padding: 10px 0;
}
.main .wrapper .footer .footerBox .footer-info .footer-icon a {
  display: block;
  width: 116px;
  height: 46px;
  margin-right: 15px;
  background-size: 116px 46px;
  margin-bottom: 10px;
}
@keyframes rocking-data-v-44e324b1 {
  0% {
    height: 43%;
  }
  25% {
    height: 43%;
  }
  50% {
    height: 65%;
  }
  75% {
    height: 86%;
  }
  100% {
    height: 100%;
  }
}
